<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Юридическое агентство "ПРИОРИТЕТ" г.Норильск</title>
        {% load staticfiles %}
    </head>
    <body style="background: black">
        <center>
        <p>
            <a href="http://188.119.65.105:8000"><img src="{% static 'image/logom.png' %}"></a>
        </p>     
        </center>
        <p align="center" style="color: white"><b>
            Приветствуем вас на сайте Юридического агентства ПРИОРИТЕТ!
            </b>
        </p>
        <p align="justify" style="color: rgb(202, 199, 199)"><b>
                Юридическое агентство ПРИОРИТЕТ работает в области оказания правовой помощи с 2005 года и предлагает юридические, бухгалтерские и консалтинговые услуги в г.Норильске и г.Дудинка физическим лицам, юридическим лицам и индивидуальным предпринимателям, а также иногородним гражданам и компаниям, по конкурентным ценам.<br>
                Опытные юристы и адвокаты нашего агентства профессионально и качественно осуществляют защиту интересов своих клиентов по гражданским делам в судах общей юрисдикции и у мировых судей, не зависимо от того является ли клиент истцом, ответчиком или же заинтересованным (третьим) лицом.<br>
                Юристы по гражданским делам отстаивают права клиента не только в первой инстанции, но и обжалуем судебные акты по гражданским делам в апелляционной, кассационной и надзорной инстанции. В защите прав клиента юристы и адвокаты по гражданским делам нашего агентства всегда идут до конца в отстаивание интересов клиента, в защите его законных прав вплоть до исполнения решения суда по гражданскому делу, по взаимодействию с судебными приставами исполнителями, обжалованию действий или бездействия судебных приставов-исполнителей в рамках исполнительного производства по гражданскому делу.<br>
                <br>ЮРИДИЧЕСКИЕ УСЛУГИ ДЛЯ ЧАСТНЫХ ЛИЦ<br>
                Представительство и ведение дела в суде — приоритетное направление в нашей юридической практике. Юристы и адвокаты нашего юридического агентства готовы представлять Ваши интересы в судах Норильска, Дудинки и в других регионах России по делам следующих категорий:<br>
                <br>
                Экономические споры<br>
                Авторские и смежные права<br>
                Земельные споры<br>
                Трудовые споры<br>
                Семейные споры<br>
                Наследование имущества<br>
                Защита прав потребителя<br>
                Страховые споры<br>
                Защита прав призывников<br>
                Банкротство граждан (списание долгов)<br>
                Оформление гаражей и земельных участков<br>
                <br>
                Юристы и адвокаты Юридического агентства ПРИОРИТЕТ частным лицам оказывают следующие юридические услуги:<br>
                Юридическая консультация по всем правовым вопросам<br>
                Юридические услуги по трудовым спорам<br>
                Юридические услуги по семейным спорам<br>
                Юридическое сопровождение сделок с недвижимостью<br>
                Юридические помощь в защите авторских прав<br>
                Юридические услуги по наследственным делам<br>
                Подготовка и составление соглашения о разделе имущества при разводе и соглашения о детях<br>
                Юридическая помощь в защите от кредиторов и коллекторов<br>
                Юридические услуги по земельным спорам<br>
                Представительство и ведение дела в суде общей юрисдикции<br>
                И многие другие.<br><br>
                ЮРИДИЧЕСКИЕ УСЛУГИ ДЛЯ ОРГАНИЗАЦИЙ<br>
                <br>
                Юридическое сопровождение бизнеса<br>
                Разработка бизнес плана<br>
                Защита лиц, обвиняемых в совершении экономического преступления<br>
                Юридическая поддержка при легализации капиталов<br>
                Юридические услуги в корпоративных спорах<br>
                Юридическая помощь при слиянии и поглощении компаний<br>
                Правовая защита бизнеса<br>
                Юридическая помощь в защите интеллектуальной собственности<br>
                Юридические услуги при регистрации товарного знака<br>
                Юридическая помощь по налоговым делам<br>
                Обжалование решений налоговых органов<br>
                Обжалование постановления об административном правонарушении<br>
                Юридическая помощь в составлении претензий и досудебном урегулировании споров<br>
                Представительство в арбитражном суде<br>
                <br>
        </p></b>
        <p align="center" style="color: white"><b>
            <strong>
                Будем рады видеть Вас среди наших клиентов. Записаться на прием вы можете по телефону 8-905-979-10-76.
            </strong></b>
        </p>
        <center><br><br>
            <p>
            <a class="cloud-logo" href="http://www.prioritetus.ru/cloud/"><img src="{% static 'image/cloudm.png' %}"></a>
            </p>
            <p><a class="cloud-logo" href="http://www.prioritetus.ru/education/"><img src="{% static 'image/moodlem.png' %}"></a>
            </p>
            <p>
            <a class="cloud-logo" href="http://www.prioritetus.ru/calendar/"><img src="{% static 'image/calendarm.png' %}"></a>
            </p>
            <p>
            <a class="cloud-logo" href="https://yasobe.ru/na/cpp_prioritet"><img src="{% static 'image/cardpaym.png' %}"></a>
            </p>
            <p>
                <a class="cloud-logo" href="https://prioritet.simplybook.it"><img src="{% static 'image/oz.png' %}"></a>
            </p>
        </center>
        <p align="center" style="color: yellow"><b>
            Адрес: 663305 Красноярский край, г.Норильск,
            ул.Ломоносова, дом 3.<br>
            <br>
            Телефоны: 8 (3919) 36-10-76; 8 (3919) 46-97-98;
            8 (905) 979-10-76; 8 (902) 550-70-80.<br>
            <br>
            E-mail: pravo.norilsk@yandex.ru<br>
            <br>
            WhatsApp: +79059791076<br><a href="https://wa.me/79059791076"><img src="{% static 'image/whatsapplogom.png' %}"></a>
            <br></b>
        </p>
        <center><br><br>
            <p>
            <a class="cloud-logo" href="http://prioritetus.ru/search_delo.html"><img src="{% static 'image/clcabm.png' %}"></a>
            <a class="cloud-logo" href="http://361076.ru/eic2.html"><img src="{% static 'image/acabm.png' %}"></a>
            </p>
            <p align="center" style="color: white">
            <br>(c) 2019 Sergey S. Barsukov<br><br><br>
            </p>
        </center>
        {% include "mainpage/footer.html" %}
    </body>
</html>