{% extends "mainpage/wrapper.html" %}
{% load staticfiles %}
{% block content %}
<div class="abouttext">
<br><p><img src="{% static 'image/barsukov.png' %}" width="280" height="160" alt="Главный офис" class="fig2">
    ЮРИДИЧЕСКОЕ АГЕНТСТВО ПРИОРИТЕТ работает в области оказания правовой помощи с 2005 года и предлагает юридические, бухгалтерские и консалтинговые услуги в г.Норильске и г.Дудинка физическим лицам, юридическим лицам и индивидуальным предпринимателям, а также иногородним гражданам и компаниям, по конкурентным ценам.<br>

    Основное преимущество нашего агентства заключается в том, что при обращении к нам, в случае если судебные действия необходимо проводить в другом городе, Вам не придется тратиться дополнительно для выезда нашего специалиста в иной регион.<br>
    
    Использование современных технологий с нашей стороны, дает возможность клиенту максимально решать задачи не выходя из дому.
    
    Мы имеем большой опыт юридической работы, и обслуживания клиентов как из г.Норильска, так и других городов и регионов.
    
    Опытные юристы и адвокаты нашего агентства профессионально и качественно осуществляют защиту интересов своих клиентов по гражданским делам в судах общей юрисдикции и у мировых судей, не зависимо от того является ли клиент истцом, ответчиком или же заинтересованным (третьим) лицом.<br>
    
    Юристы по гражданским делам отстаивают права клиента не только в первой инстанции, но и обжалуем судебные акты по гражданским делам в апелляционной, кассационной и надзорной инстанции.
    
    В защите прав клиента юристы и адвокаты по гражданским делам нашего юридического агентства всегда идут до конца в отстаивание интересов клиента, в защите его законных прав вплоть до исполнения решения суда по гражданскому делу, по взаимодействию с судебными приставами исполнителями, обжалованию действий или бездействия судебных приставов-исполнителей в рамках исполнительного производства по гражданскому делу.<br>
    
    Если Вы, или члены Вашей семьи столкнулись по гражданскому делу с вопросами связанными:<br>
    <br>
    с возмещением ущерба при ДТП,<br>
    с возмещением вреда от залива, поджога и иных действий,<br>
    с взысканием страховых выплат,<br>
    с взысканием долгов по гражданско-правовым сделкам и распискам,<br>
    с вселением, с выселением,<br>
    снятием с регистрационного учета,<br>
    с оспариванием завещания,<br>
    с восстановлением срока на вступление в наследство,<br>
    с возмещением ущерба на основании требований закона «О защите прав потребителей»,<br>
    а также с разводом, с разделом общего имущества супругов, с взысканием алиментов на несовершеннолетних детей, определения их места жительства и порядка общения,
    Если решение Вашей проблемы не возможно без судебного разбирательства и Вы нуждаетесь в юридической помощи в судебном процессе по гражданскому делу, в качестве истца, ответчика, третьего лица, то лучше обратиться за помощью к опытным юристам и адвокатам.<br>
    <br><img src="{% static 'image/shpota.png' %}" width="200" height="266" alt="Главный офис" class="fig">
    Представительство и ведение дела в суде общей юрисдикции юристами или адвокатами по гражданским делам в итоге будет значительно дешевле Ваших самостоятельных действий, а самое главное, что согласно ст.100 ГПК РФ стороне, в пользу которой состоялось решение суда, суд присуждает с другой стороны расходы на оплату услуг представителя. Запишитесь на консультацию в один из наших офисов и опытные юристы или адвокаты по гражданским делам внимательно ознакомятся с вашей проблемой, разберут ее на составные части, определят линию защиту. Проанализируют судебную практику по аналогичным спорам, определят какие статьи закона можно применить в данном конкретном случае и лишь, затем выскажут свое мнение о перспективах судебного разбирательства и юридические последствия судебного решения.<br>
    
    После консультации с юристом по гражданским делам, Вы можете заключить с нами договор на юридическое обслуживание и представительство в судебных инстанциях. Мы предлагаем своим клиентам комплексное ведение дела в суде, начиная с юридической консультации по делу и подготовки иска до исполнения решения суда.<br>
    <br><br>
    ЮРИДИЧЕСКИЕ УСЛУГИ ДЛЯ ЧАСТНЫХ ЛИЦ<br>
    
    Представительство и ведение дела в суде — приоритетное направление в нашей юридической практике. Юристы и адвокаты нашего юридического агентства готовы представлять Ваши интересы в судах Норильска, Дудинки и в других регионах России по делам следующих категорий:<br>
    <br>
    Экономические споры<br>
    Авторские и смежные права<br>
    Земельные споры<br>
    Трудовые споры<br>
    Семейные споры<br>
    Наследование имущества<br>
    Защита прав потребителя<br>
    Страховые споры<br>
    Защита прав призывников<br>
    Банкротство граждан (списание долгов)<br>
    Оформление гаражей и земельных участков<br><br>
    Юристы и адвокаты Юридического агентства ПРИОРИТЕТ частным лицам оказывают следующие юридические услуги:<br>
    
    Юридическая консультация по всем правовым вопросам<br>
    Юридические услуги по трудовым спорам<br>
    Юридические услуги по семейным спорам<br>
    Юридическое сопровождение сделок с недвижимостью<br>
    Юридические помощь в защите авторских прав<br>
    Юридические услуги по наследственным делам<br>
    Подготовка и составление соглашения о разделе имущества при разводе и соглашения о детях<br>
    Юридическая помощь в защите от кредиторов и коллекторов<br>
    Юридические услуги по земельным спорам<br>
    Представительство и ведение дела в суде общей юрисдикции<br>
    И многие другие.<br><br>
    ЮРИДИЧЕСКИЕ УСЛУГИ ДЛЯ ОРГАНИЗАЦИЙ<br>
    <img src="{% static 'image/obol.png' %}" width="190" height="260" alt="Главный офис" class="fig2">
    Мы стремимся строить отношения с клиентами на уважении и доверии. Мы инвестируем свои знания и опыт в Ваш бизнес и заботимся о Вашем успехе. Наша команда состоит из профессионалов, обладающими знаниями и опытом в различных областях права и экономики, благодаря чему способна достичь максимальной эффективности и координации при наименьшей потере времени, гарантируя клиентам Юридического агентства «ПРИОРИТЕТ»  юридические услуги самого высокого уровня.<br>
    Мы уже консультировали или проводили стратегическое планирование для более, чем 20 малых и средних фирм не только в Норильске, но и в других регионах России. Используя свой опыт, как подкованные и беспристрастные эксперты, мы можем помочь Вашей фирме в реализации Ваших бизнес проектов и в достижении поставленных целей с соблюдением всех правовых норм и законов.<br>
    
    Вот перечень юридических услуг для бизнеса, которые оказывает наше юридическое агентство организациям различных форм собственности:<br><br>
    
    Юридическое сопровождение бизнеса<br>
    Разработка бизнес плана<br>
    Защита лиц, обвиняемых в совершении экономического преступления<br>
    Юридическая поддержка при легализации капиталов<br>
    Юридические услуги в корпоративных спорах<br>
    Юридическая помощь при слиянии и поглощении компаний<br>
    Правовая защита бизнеса<br>
    Юридическая помощь в защите интеллектуальной собственности<br>
    Юридические услуги при регистрации товарного знака<br>
    Юридическая помощь по налоговым делам<br>
    Обжалование решений налоговых органов<br>
    Обжалование постановления об административном правонарушении<br>
    Юридическая помощь в составлении претензий и досудебном урегулировании споров<br>
    Представительство в арбитражном суде<br><br>
    Естественно, этот перечень услуг не является полным и исчерпывающим, если в списке Вы не нашли юридическую услугу, в которой Вы нуждаетесь, или не знаете как сформулировать ту или иную проблему, с которой Вы столкнулись, осуществляя свою деятельность, просто позвоните нам.<br>
    
    Опытные юристы нашего агентства проконсультируют Вас и помогут определить вид и форму юридической помощи, которая необходима для решения именно Вашей проблемы. Доверьтесь профессионалам и Вы сэкономите Ваше время и деньги!<br>
    
    Независимо от того, с каким вопросом или проблемой Вы обратились в наше агентство за юридической помощью, Вы можете рассчитывать на индивидуальный подход, ответственность и высокий профессионализм наших юристов и адвокатов.<br>
    <br><br><p align="center"><b>
Будем рады видеть Вас среди наших клиентов. Записаться на прием вы можете по телефону 8-905-979-10-76. 
</b>
</p>   
<br><br> 
</div>
{% endblock %}