{% extends "mainpage/wrapper.html" %}
{% load staticfiles %}
{% block content %}
<div class="context">
<br>       
<p align="center"><b>
Юридическое агентство "ПРИОРИТЕТ"
</b>
</p>
<br>
 <b>Адрес:</b> 663305 Красноярский край, г.Норильск,<br>
 ул.Ломоносова, д.3
<br><br>
<b>Телефоны:</b> 8 (3919) 36-10-76; 8 (3919) 46-97-98;<br>
8 (905) 979-10-76; 8 (902) 550-70-80.
<br><br>
<b>E-mail:</b> pravo.norilsk@yandex.ru
<br><br>
<b>WhatsApp:</b> +79059791076
<a href="https://wa.me/79059791076"><img src="{% static 'image/whatsapplogo.png' %}"></a>
<br><br><br><br><br><br>
<p align="center"><b>
Будем рады видеть Вас среди наших клиентов. <br>Записаться на прием вы можете по телефону 8-905-979-10-76. 
</b>
</p>   
<br><br> 
<dive style="position:absolute; top: 50px; right: 10px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1407.3050797451951!2d88.21229770062669!3d69.3459759025087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x44ac5e9ecf9f9c53%3A0xe6a20567cd098b87!2z0YPQuy4g0JvQvtC80L7QvdC-0YHQvtCy0LAsIDMsINCd0L7RgNC40LvRjNGB0LosINCa0YDQsNGB0L3QvtGP0YDRgdC60LjQuSDQutGA0LDQuSwgNjYzMzA1!5e0!3m2!1sru!2sru!4v1577472713083!5m2!1sru!2sru" width="400" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</dive>

</div>


{% endblock %}