{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/social.css' %}" type="text/css">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>

<footer class="footer">
        <ul class="socialIcons">
                <li><a href="https://www.facebook.com/PravoNorilskUA" class="facebook"><i class="fa fa-facebook "></i></a></li>
                <li><a href="https://twitter.com/PravoNorilsk" class="twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/pravo_la/" class="instagram"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCpuyyAdgzkSnfmiaLxzU3ag?view_as=subscriber" class="youtube"><i class="fa fa-youtube"></i></a></li>
        </ul>
</footer>
{% endblock %}

