{% extends "mainpage/wrapper.html" %}
{% load staticfiles %}
{% block content %}
<div class="maintext">
<br>       
<p align="center"><b>
Приветствуем вас на сайте Юридического агентства ПРИОРИТЕТ!
</b>
</p>
<br><p><img src="{% static 'image/wellcomephoto.png' %}" width="350" height="200" alt="Главный офис" class="fig">
Наше агентство было основано в 2005 году группой профессиональных юристов со значительным опытом работы и является одним из успешных в г.Норильске. 
Более 15 лет наше юридическое агентство специализируется на защите интересов своих клиентов в судах всех уровней, а также на оказании полного спектра юридических услуг, начиная с Гражданского права, банкротства граждан и предприятий,
продолжая Арбитражными спорами и до консультирования по правовым вопросам. 
В настоящее время компания имеет географию действующих партнёрских офисов - в Норильске и Дудинке. Наши юристы и адвокаты обладают квалификацией и профессиональным опытом, необходимыми для успешного решения Ваших задач.
<br></p>
Чем мы отличаемся от других юридических компаний?<br>
— Успешной многолетней судебной практикой;
— «Ручным управлением» в нашей компании, что, опять же, отличает нас от крупных компаний с их унифицированными, «шаблонными» процедурами.<br>
— Принципом «фундаментального анализа проблемы» и предложением уникальной стратегии юридических действий. Это равно отсутствию у оппонента возможности предвидеть избранный метод защиты прав и интересов.<br>
— Скрупулезностью и креативным мышлением, что делает нас особенными на рынке юридических услуг и, следовательно, востребованными.<br>
Юридическое агентство «Приоритет» — своеобразный «бутик юридических решений». Здесь разрабатываются сложнейшие правовые заключения, формируются подходы к юридической работе и праву в целом нестандартно и творчески. За более чем 15 лет успешной деятельности компания внесла значительный вклад в сферу судебной практики, закрыла многие бреши и пробелы. Выполняя роль первопроходца, мы, безусловно, делаем вклад в развитие российского юридического поля.
<br>
Сегодня агентство объединяет множество высокопрофессиональных юристов, адвокатов в различных областях права. Это позволяет достигать положительных результатов при реализации сложных комплексных проектов, в том числе в уникальных и запутанных экономических спорах. Наше агентство — это живая система, работающая сплоченно, отлаженно и эффективно.
<br><br>
<p align="center"><b>
Будем рады видеть Вас среди наших клиентов. Записаться на прием вы можете по телефонам 8-905-979-10-76, 8 (3919) 36-10-76, 8 (3919) 46-97-98. 
</b>
</p>   
<br><br> 
</div>
{% endblock %}