{% extends "mainpage/wrapper.html" %}
{% load staticfiles %}
{% block content %}
<center><br><br>
<p>
<a class="cloud-logo" href="http://www.prioritetus.ru/cloud/"><img src="{% static 'image/OwnCloud.png' %}"></a>
<a class="cloud-logo" href="http://www.prioritetus.ru/education/"><img src="{% static 'image/moodle.png' %}"></a>
</p>
<p>
<a class="cloud-logo" href="http://www.prioritetus.ru/calendar/"><img src="{% static 'image/calendar.png' %}"></a>
<a class="cloud-logo" href="https://yasobe.ru/na/cpp_prioritet"><img src="{% static 'image/cardpay.png' %}"></a>
</p>
<p>
    <a class="cloud-logo" href="https://prioritet.simplybook.it"><img src="{% static 'image/oz.png' %}"></a>
</p>
</center>
<br>
<br>
{% endblock %}