{% extends "mainpage/wrapper.html" %}

{% block content %}
<div class="usltext">
    <br>       
    <p align="center"><b>
        Юридические услуги для частных лиц
    </b>
    </p>
    <br>
    Представительство и ведение дела в суде — приоритетное направление в нашей юридической практике. Юристы и адвокаты Юридического агентства «Приоритет»  готовы представлять Ваши интересы в судах Норильска, Дудинке и в других регионах России по делам следующих категорий:<br>
    -Экономические споры<br>
    -Авторские и смежные права<br>
    -Земельные споры<br>
    -Трудовые споры<br>
    -Семейные споры<br>
    -Наследование имущества<br>
    -Защита прав потребителя<br>
    -Страховые споры<br>
    -Прочие споры<br>
    <br>
    Юристы и адвокаты Юридического агентства "Приоритет" частным лицам оказывают следующие юридические услуги:<br>
    -Юридическая консультация по всем правовым вопросам<br>
    -Юридические услуги по трудовым спорам<br>
    -Юридические услуги по семейным спорам<br>
    -Юридическое сопровождение сделок с недвижимостью<br>
    -Юридические помощь в защите авторских прав<br>
    -Юридические услуги по наследственным делам<br>
    -Подготовка и составление соглашения о разделе имущества при разводе и соглашения о детях<br>
    -Юридическая помощь в защите от кредиторов и коллекторов<br>
    -Юридические услуги по земельным спорам<br>
    -Представительство и ведение дела в суде общей юрисдикции<br>
    -Банкротство граждан (освобождение от долгов)<br>
    -Защита прав призывников<br><br>
    <p align="center"><b>
    Юридические услуги для организаций
    </b>
    </p>
    <br>
    Мы стремимся строить отношения с клиентами на уважении и доверии. Мы инвестируем свои знания и опыт в Ваш бизнес и заботимся о Вашем успехе. Наша команда состоит из профессионалов, обладающими знаниями и опытом в различных областях права и экономики, благодаря чему способна достичь максимальной эффективности и координации при наименьшей потере времени, гарантируя клиентам юридические услуги самого высокого уровня.<br>
    Мы уже консультировали или проводили стратегическое планирование для более, чем 250 малых и средних фирм не только в Норильске, но и в других регионах России. Используя свой опыт, как подкованные и беспристрастные эксперты, мы можем помочь Вашей фирме в реализации Ваших бизнес проектов и в достижении поставленных целей с соблюдением всех правовых норм и законов.<br>
    Вот перечень юридических услуг для бизнеса, которые оказывает наше юридическое агентство организациям различных форм собственности:<br><br>
    -Юридическое сопровождение бизнеса<br>
    -Разработка бизнес плана<br>
    -Юридическая поддержка при легализации капиталов<br>
    -Юридические услуги в корпоративных спорах<br>
    -Юридическая помощь при слиянии и поглощении компаний<br>
    -Правовая защита бизнеса<br>
    -Юридическая помощь в защите интеллектуальной собственности<br>
    -Юридические услуги при регистрации товарного знака<br>
    -Юридическая помощь по налоговым делам<br>
    -Обжалование решений налоговых органов<br>
    -Обжалование постановления об административном правонарушении<br>
    -Юридическая помощь в составлении претензий и досудебном урегулировании споров<br>
    -Представительство в арбитражном суде<br><br>
    Естественно, этот перечень услуг не является полным и исчерпывающим, если в списке Вы не нашли юридическую услугу, в которой Вы нуждаетесь, или не знаете как сформулировать ту или иную проблему, с которой Вы столкнулись, осуществляя свою деятельность, просто позвоните нам.<br>
        <br>
        <p align="center"><b>
        Будем рады видеть Вас среди наших клиентов. Записаться на прием вы можете по телефону 8-905-979-10-76. 
        </b>
        </p>   
        <br><br> 
        </div>
{% endblock %}