<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Юридическое агентство "ПРИОРИТЕТ" г.Норильск</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/header.css' %}" type="text/css">
    </head>
    <body>
        {% include "mainpage/top.html" %}
        {% include "mainpage/header.html" %}
        {% block content %}

        {% endblock %}
        {% include "mainpage/footer.html" %}
    </body>
</html>